body {background-color: black;
	text-align: center;
}

h1 {color: tomato;
}

h2 {color: aqua;
}

p, ul {color: silver;
}

h3 {color: tomato;
}

ul {list-style-position: inside;
}

li {list-style-position: inside;
}