@import url('https://fonts.googleapis.com/css?family=Luckiest+Guy');
@import url('https://fonts.googleapis.com/css?family=Mali');
@import url('https://fonts.googleapis.com/css?family=K2D');

body{
	background-color: tomato;
	color: #E8D788;
	text-align: center;
	font-size: 16px;
}

.bodytext{
	font-size: 1.5em;
}

h1{
	color: #000000;
	font-size: 3.5em;
	text-transform: uppercase;
	font-family: "Luckiest Guy", cursive;
	-webkit-text-stroke-width: .5px;
   -webkit-text-stroke-color: white;
}

nav{
}

section{
	text-align: center;
}

#beer{
}

#locations{
}

#shop{
}

#events{
}

#slogan{
	text-transform: uppercase;
	color: black;
	font-size: 2.5em;
	font-family: "Mali", cursive;
}

ul{
	text-align: center;
	list-style-position: inside;
}

h3{
	font-size: 2.5em;
	text-decoration: underline;
	font-transform: uppercase;
	font-family: 'K2D', sans-serif;
}

h4{
	font-size: 1.5em;
	text-decoration: underline;
	font-family: 'K2D', sans-serif;
}

h5{
	font-size: 1em;
	font-family: 'K2D', sans-serif;
}

#weeklysched{
	font-size: 1em;
	background-color: #E8D788;
	color: tomato;
}

footer{
}