header{
	background-color: #FFED74;
	border: 1px black solid;
	padding: 20px;
}
nav {
	background-color: #e8c66A;
}
aside {
	background-color: #ffc675;
}
article

footer {
	background-color: #ff957E;
}
div,section {background-color: #ffe2b8;
}
