body {background-color: #000000;
	color: #E8D788;
	text-align: center;
}

h1 {color: #FF5D49;
	text-transform: uppercase;
	text-decoration: underline;
	font-weight: 700;
	font-size: 35;
}

#slogan {text-transform: uppercase;
	font-style: italic;
	color: #FF5D49;
}

nav {color: #FFA96E;
	text-decoration: normal;
}

p {background-image: url(images/beermountains.jpeg);
}

li {color: #FF5D49;
}


